@media (min-width: 1024px) {
  .carosel-btn {
    width: 30px !important;
    height: 30px !important;
  }
}

.carosel-btn-wrapper {
  width: 2%;
}


.my-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}