.Modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  z-index: 3000;
}

@media (max-width: 768px) {
  .Modal {
    padding: 0px 0px 250px 0px;
  }
}

.Overlay {
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000e6;
}

.remove-modal {
  position: absolute;
  color: white;
  top: 10px;
  right: 15px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Concert One", cursive;
}